server = true
node_name = "{{ consul_node }}"
datacenter = "{{ consul_dc }}"
data_dir = "{{ consul_datadir }}"
bind_addr = "{{ consul_private_ip }}"
client_addr = "0.0.0.0"
bootstrap_expect = 3
retry_join = ["{{ consul_node_1 }}", "{{ consul_node_2 }}", "{{ consul_node_3 }}"]
ui = true
log_level = "info"
enable_syslog = true
acl {
  enabled = false
}
connect {
  enabled = true
}
ports {
  grpc = 8502
}
