server {
  enabled = true
  bootstrap_expect = 3
}
name = "{{ nomad_node }}"
datacenter = "{{ nomad_dc }}"
data_dir = "{{ nomad_datadir }}"
bind_addr = "{{ nomad_private_ip }}"
addresses {
  http = "0.0.0.0"
}
# TODO: remove when workers have been set up.
client {
  enabled = true
}
consul {
  address = "{{ nomad_private_ip }}:8500"
}
